<script>
    if (adverts == true) {
        for (let brave = 0; brave < ads.length; brave++) {
            ads[brave].innerHTML = `
                <div class="brave">
                    <a href="https://brave.com/ins228" target="_black">
                        <img src="{{ site.url }}/assets/img/minicards/brave150px.png" alt="Brave Browser">
                        Experimente o novo Brave Browser e navegue com mais privacidade!
                    </a>
                </div>
            `;
        }
    }
</script>