<script>
let os = false;
function fOS() {
    const scriptOneSignal = document.createElement('script');
    scriptOneSignal.setAttribute('async', '');
    scriptOneSignal.setAttribute('src', 'https://cdn.onesignal.com/sdks/OneSignalSDK.js');
    document.head.appendChild(scriptOneSignal);
    os = true;
}
window.onscroll = function () {
    if (window.scrollY > 100) {
        if (os == false) {
            var OneSignal = window.OneSignal || [];
            OneSignal.push(function () {
                OneSignal.init({
                    appId: "29568b5d-c80d-4a72-8ed5-aa2b923a8057",
                });
            });
            this.fOS();
        }
    }
};
</script>
