<!-- Verication -->
<meta name="msvalidate.01" content="9266B60E5A39A50A1566051C44326CDB" />
<!-- DMCA insideblock.com -->
<meta name='dmca-site-verification' content='N25MTVBydm83R3Q5QmxWcEJ1ZTVUQT090' />

<!-- Google Tag Manager -->
<script>
    setTimeout(function(){
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '{{ site.g_tagmanager }}');
    },5000);
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', '{{ site.g_analytics }}', { 'optimize_id': '{{ site.g_optimize }}'});

    setTimeout(function(){
        const gtag = document.createElement('script');
        gtag.setAttribute('async', 'async');
        gtag.setAttribute('src', 'https://www.googletagmanager.com/gtag/js?id={{ site.g_analytics }}');
        document.head.appendChild(gtag);
    },5000);
</script>
