<!-- <div class="item-list-element col">
    {% for label in page.category %}
    <a class="cat" alt="{{ label }}" href="{{ site.url }}/{{ label }}">
        {{ label }}
    </a> {% endfor %}
</div>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
        {% for label in page.category %} {
            "@type": "ListItem",
            "item": {
                "@id": "{{ site.url }}/{{ label }}",
                "name": "{{ label }}"
            }
        }
        {% assign n = 1 %}
        {% if n <= n %}
        ,
        {% endif %}
        {% endfor %}]
    }
</script> -->