<ol class="item-list-element col">
    <li>
        <a class="cat" alt="{{ page.categories }}" href="{{ site.url }}/{{ page.categories }}">
            {{ page.categories }}
        </a>
    </li>
</ol>

<script type="application/ld+json">
    {
     "@context": "http://schema.org",
     "@type": "BreadcrumbList",
     "itemListElement":
     [
      {
       "@type": "ListItem",
      "position": 1,
      "item":
       {
         "@id": "{{ site.url }}/{{ page.categories }}",
         "name": "{{ page.categories }}"
       }
      }
     ]
    }
    </script>