<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<ul class="pagination">
    {% if paginator.previous_page %}
    <li>
        <a class="previous" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">⇠</a>
    </li>
    {% endif %}

    {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
        <li {% if page.url == trail.path %}class="selected"{% endif %}>
            <a href="{{ trail.path | prepend: site.baseurl }}" title="{{ trail.title }}">{{ trail.num }}</a>
        </li>
    {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
    <li>
        <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl }}">⇢</a>
    </li>
    {% endif %}
</ul>

<span class="page_number" style="text-align:center;display:block;margin:0 auto">Página: {{ paginator.page }} de {{ paginator.total_pages }}</span>
{% endif %}
