<section class="related">
<div class="related-post grid">
<h4>Posts recentes</h4>
<ul class="row">
{% assign maxRelated = 6 %}
{% assign minCommonTags =  1 %}
{% assign maxRelatedCounter = 0 %}

{% for post in site.posts %}

  {% assign sameTagCount = 0 %}
  {% assign commonTags = '' %}

  {% for category in post.categories %}
    {% if post.url != page.url %}
      {% if page.categories contains category %}
        {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% assign commonTags = commonTags | append: tagmarkup %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if sameTagCount >= minCommonTags %}
    <li class="col x6 s4">
      <a href="{{ site.baseurl }}{{ post.url }}">
        <span>{{ post.title }}{{ commonTags }}</span>
        <img width="100%" src="/assets/thumbs/{{post.image}}">
      </a>
    </li>
    {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
    {% if maxRelatedCounter >= maxRelated %}
      {% break %}
    {% endif %}
  {% endif %}

{% endfor %}
</ul>
</div>
</section>
